
<!-- <div>
  <p-messages [(value)]="messages2" [enableService]="true" style="width: 500px; height: 320px; position: absolute; right: 0px; opacity:calc(0.7);"></p-messages>
</div> -->
<p-toast></p-toast>
<div class="containerr">
  <!-- <img src="../../assets/img/logo-inicio.png" class="img"> -->
  <!-- <img src="../../assets/img/icono-user.png" class="img" *ngIf="imgLogin"> -->
  <div class="contenedor-formulario" >
    <div class="mitad-izq"></div>
    <div class="mitad-der">
      <div class="logo">
        <img src="../../assets/img/icono-hapi.ico" class="img-logo">
        <h1 class="title-logo">HAPI</h1>
      </div>
      <div class="logo-pie">
        <img src="../../assets/img/logo-hospital.png" class="img-pie">
        <p class="pie-pagina">&copy; 2023 Unidad de Desarrollo de Software - Departamento TIC</p>
      </div>
      <div class="form-content">
        <form class="formulario" [formGroup]="form" (ngSubmit)="enviarDatos()">
          <div class="contenedor-input">
            <div class="ci1">
              <input class="ic1" type="text" name="email" class="form-control" placeholder="Usuario" formControlName="email"
                style="width: 300px; position: relative;">
                <span style="color: red;" *ngIf="isValidField('email')">Ingrese usuario</span>
              <!-- <input name="email" type="email" placeholder="Email" required class="i1" [(ngModel)]="email"> -->
            </div>
            <div class="ci2">
              <input class="ic2" type="password" name="email" class="form-control" placeholder="Contraseña" formControlName="password"
                style="width: 300px; position: relative; top: 10px;">
                <span style="color: red; top: 10px; position: relative;" *ngIf="isValidField('password')">Ingrese contraseña</span>

            </div>
            <div class="contenedor-button" style="position: relative; top: 1rem;">
              <button type="submit" class="button" >Ingresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

